
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: 0;
    --gray-hue: 210;
    --gray-huet: 240;
    --color-primary: hsl(var(--primary-hue),0%, 100%);
    --color-primary-v: hsl(var(--gray-hue),100%,50%);
    --color-secundary: #ffb116;
    --color-gray-100: hsl(var(--gray-huet),47%,94%);
    --color-gray-200: hsl(var(--gray-huet),26%,75%);

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;

}

body{
    background: var(--color-primary);
    font-family: 'Montserrat', sans-serif;
    color: var(--color-gray-200);
    line-height: 1.5;
    overflow-y: hidden;
}

.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}

h1,h2,h3,h4,h5 {
    line-height: 1.2;
    color: var(--color-gray-200);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

a{
    color: var(--color-gray-100);
    font-size: 0.8rem;
}

img {
    object-fit: cover;
    display: block;
    width: 100%;
}

